.modalContainer {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.modalContent {
    background: var(--white);
    color: var(--gray-800);

    width: 600px;
    height: max-content;

    padding: 12px;
    border: 1px solid #858585;
    border-radius: 5px;
}

.modalHeader {
    padding: 1rem;
    border-bottom: 1px solid var(--gray-300);
}

.modalBody {
    padding: 20px;
}
