.navigatorContainer {
    width: 100%;
    height: 5rem;

    background: var(--purple-500);

    .navigatorContent {
        max-width: 1152px;
        height: 5rem;
        margin: 0 auto;
        padding: 0 2rem;

        nav {
            height: 100%;

            display: flex;
            align-items: center;

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                padding: 0 12px;
                height: 5rem;
                line-height: 5rem;
                color: var(--purple-100);

                gap: 8px;

                cursor: pointer;
    
                transition: 0.2s;
    
                &:hover {
                    span {
                        color: var(--white);
                    }
                }
    
                &.active {
                    color: var(--white);
                    font-weight: bold;
                }
            }
        }
    }
}

.verticalLine {
    border-left: 1px solid var(--purple-450);
    height: 3rem;
    margin: 0 1rem;
}

@media (max-width: 720px) {
    .navigatorContainer {
        .navigatorContent {
            nav {
                width: 100%;

                justify-content: space-between;

                a {
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}