.container {
    background: var(--white-100);

    
    height: calc(100vh - 10rem);
}

.contentContainer {
    max-width: 1152px;
    margin: 0 auto;
    padding: 2rem;

    h2 {
        color: var(--gray-800)
    }
}

.boxContent {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

.boxItem {
    display: flex;
    flex-direction: column;

    gap: 12px;

    > div {
        display: flex;
        flex-direction: row;

        align-items: center;

        gap: 12px;

        span {
            color: #727E8A;
        }

        &:last-child {
            flex-direction: column;
            gap: 0;
            align-items: flex-start;

            h3 {
                font-size: 22px;
                font-weight: 700;
            }

            span {
                font-size: 12px;
            }
        }
    }
}

.verticalLine {
    border-left: 1px solid #A7A7A7;
    height: 4rem;
}

.box {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;

    padding: 12px;

    margin: 2rem 0;

    border: 1px solid var(--gray-300);
    border-radius: 5px;

    div {
        display: flex;
        flex-direction: column;
        
        justify-content: center;

        gap: 8px;

        span {
            color: #545969;
            font-weight: 500;
        }

        h2 {
            font-size: 26px;
        }
    }
}