.container {
    background: var(--white-100);

    
    height: calc(100vh - 10rem);
}

.contentContainer {
    max-width: 1152px;
    margin: 0 auto;
    padding: 2rem;

    h2 {
        color: var(--gray-800)
    }
}

.boxContent {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

.boxItem {
    display: flex;
    flex-direction: column;

    gap: 12px;

    > div {
        display: flex;
        flex-direction: row;

        align-items: center;

        gap: 12px;

        span {
            color: #727E8A;
        }

        &:last-child {
            flex-direction: column;
            gap: 0;
            align-items: flex-start;

            h3 {
                font-size: 24px;
                font-weight: 700;
            }

            span {
                font-size: 12px;
            }
        }
    }

    button {
        border: none;
        background: var(--purple-500);

        display: flex;
        flex-direction: row;

        gap: 8px;
        align-items: center;

        padding: 7px 12px;
        border: 1px solid #EAEBEF;
        border-radius: 5px;

        span {
            color: var(--white);
        }

        &:hover {
            transition: filter .2s;
            filter: brightness(0.9);
        }

        & + button {
            background: #FDFDFD;

            span {
                color: #515357;
            }
        }
    }
}

.row {
    display: flex;
    flex-direction: row;

    gap: 12px;
    align-items: center;
}

.verticalLine {
    border-left: 1px solid #A7A7A7;
    height: 4rem;
}

.box {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;

    padding: 12px;

    margin: 2rem 0;

    border: 1px solid var(--gray-300);
    border-radius: 5px;

    div {
        display: flex;
        flex-direction: column;
        
        justify-content: center;

        gap: 8px;

        span {
            color: #545969;
            font-weight: 500;
        }

        h2 {
            font-size: 26px;
        }
    }
}

.rowPanel {
    margin-top: 1rem;
    
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    justify-content: space-between;

    gap: 1rem;
}

.empty {
    color: #696781;
    font-size: 18px;

    align-self: center;

    margin: 4rem 0;
}

@media (max-width: 720px) {
    .hide {
        display: none;
    }

    .rowPanel {
        flex-direction: column;
    }

    .boxContent {
        flex-direction: column;

        align-items: flex-start;

        gap: 12px;

        .boxItem {
            width: 100%;

            button {
                width: 100%;
                height: 50px;

                align-items: center;
                justify-content: center;
            }
        }
    }
}